<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Escolinha do Lulu</title>
        <meta charcode='UTF-8'>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body>
        <h1>Questão Completar</h1>
        <h2>Completar a sentença:</h2>
        <p style="color: #A0A0A0">Essa questao é de  
            <mark style="border: 2px; border-color: #EEEEEE; margin: 2px; align: center; padding-left: 5px; padding-right: 5px; color: black; background: #FFFFFF; border-radius: 5px; box-shadow: 2px 2px 2px gray">
                exemplo
            </mark> para todos.
        </p>
    </body>
</html>