<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Escolinha do Lulu</title>
        <meta charcode='UTF-8'>
    </head>
    <body>
        <h1>Questão Completar</h1>
        <h2>Completar a sentença:</h2>
        <p>Essa questao é de  
            <mark style="margin: 2px; align: center; padding-left: 5px; padding-right: 5px; color: black; background: #EEEEEE; border-radius: 5px; box-shadow: 2px 2px 2px gray">
                exemplo
            </mark> para todos.
        </p>
    </body>
</html>